In [1]:
import pandas as pd
import numpy as np

In [2]:
cd /

C:\

In [3]:
cd /Users/andia0210/Desktop/Map

C:\Users\andia0210\Desktop\Map

In [4]:
trademap = pd.read_csv('Intercontinental_export_of_live_poultry_from_Europe_and_the_US_1962-2019.csv', sep=',')

In [5]:
trademap

,Reporter_Countries,Startlon,Startlat,Reporter_Continent,Reporter_Region,Partner_Countries,Arrlon,Arrlat,Partner_Continent,Unit,Export_Value_corrected
0,Austria,14.550072,47.516231,Europe,EU,Iran,53.688046,32.427908,Asia,1000 US$,40272.049
1,Austria,14.550072,47.516231,Europe,EU,Iraq,43.679291,33.223191,Asia,1000 US$,35566.060
2,Austria,14.550072,47.516231,Europe,EU,Morocco,-7.092620,31.791702,Africa,1000 US$,327.080
3,Austria,14.550072,47.516231,Europe,EU,Saudi Arabia,45.079162,23.885942,Asia,1000 US$,11.910
4,Austria,14.550072,47.516231,Europe,EU,Thailand,100.992541,15.870032,Asia,1000 US$,8.040
...,...,...,...,...,...,...,...,...,...,...,...
408,United States of America,-95.712891,37.090240,North America,USA,Vietnam,108.277199,14.058324,Asia,1000 US$,44752.330
409,Serbia,20.457273,44.787197,Europe,EU,Iran,53.688046,32.427908,Asia,1000 US$,41662.420
410,Serbia,20.457273,44.787197,Europe,EU,Iraq,43.679291,33.223191,Asia,1000 US$,2218.800
411,Serbia,20.457273,44.787197,Europe,EU,Lebanon,35.862285,33.854721,Asia,1000 US$,644.770
412,Serbia,20.457273,44.787197,Europe,EU,United States of America,-95.712891,37.090240,North America,1000 US$,6.670

In [6]:
trademap_reporter=trademap.groupby(['Reporter_Countries', 'Startlon', 'Startlat', 'Reporter_Continent', 'Reporter_Region','Partner_Countries', 'Arrlon', 'Arrlat', 'Partner_Continent', 'Unit'])['Export_Value_corrected'].sum().reset_index()

In [7]:
trademap_reporter

,Reporter_Countries,Startlon,Startlat,Reporter_Continent,Reporter_Region,Partner_Countries,Arrlon,Arrlat,Partner_Continent,Unit,Export_Value_corrected
0,Austria,14.550072,47.516231,Europe,EU,Iran,53.688046,32.427908,Asia,1000 US$,40272.049
1,Austria,14.550072,47.516231,Europe,EU,Iraq,43.679291,33.223191,Asia,1000 US$,35566.060
2,Austria,14.550072,47.516231,Europe,EU,Morocco,-7.092620,31.791702,Africa,1000 US$,327.080
3,Austria,14.550072,47.516231,Europe,EU,Saudi Arabia,45.079162,23.885942,Asia,1000 US$,11.910
4,Austria,14.550072,47.516231,Europe,EU,Thailand,100.992541,15.870032,Asia,1000 US$,8.040
...,...,...,...,...,...,...,...,...,...,...,...
406,United States of America,-95.712891,37.090240,North America,USA,Turkey,35.243322,38.963745,Asia,1000 US$,54184.427
407,United States of America,-95.712891,37.090240,North America,USA,Uganda,32.290275,1.373333,Africa,1000 US$,132.920
408,United States of America,-95.712891,37.090240,North America,USA,United Kingdom,-3.435973,55.378051,Europe,1000 US$,73107.662
409,United States of America,-95.712891,37.090240,North America,USA,Uruguay,-55.765835,-32.522779,South America,1000 US$,518.190
410,United States of America,-95.712891,37.090240,North America,USA,Vietnam,108.277199,14.058324,Asia,1000 US$,44752.330

In [8]:
trademap_reporter_sort=trademap_reporter.sort_values(by=['Reporter_Countries'])

In [9]:
trademap_reporter_sort

,Reporter_Countries,Startlon,Startlat,Reporter_Continent,Reporter_Region,Partner_Countries,Arrlon,Arrlat,Partner_Continent,Unit,Export_Value_corrected
0,Austria,14.550072,47.516231,Europe,EU,Iran,53.688046,32.427908,Asia,1000 US$,40272.049
1,Austria,14.550072,47.516231,Europe,EU,Iraq,43.679291,33.223191,Asia,1000 US$,35566.060
2,Austria,14.550072,47.516231,Europe,EU,Morocco,-7.092620,31.791702,Africa,1000 US$,327.080
3,Austria,14.550072,47.516231,Europe,EU,Saudi Arabia,45.079162,23.885942,Asia,1000 US$,11.910
4,Austria,14.550072,47.516231,Europe,EU,Thailand,100.992541,15.870032,Asia,1000 US$,8.040
...,...,...,...,...,...,...,...,...,...,...,...
384,United States of America,-95.712891,37.090240,North America,USA,Iran,53.688046,32.427908,Asia,1000 US$,23565.510
385,United States of America,-95.712891,37.090240,North America,USA,Iraq,43.679291,33.223191,Asia,1000 US$,2427.400
386,United States of America,-95.712891,37.090240,North America,USA,Italy,12.567380,41.871940,Europe,1000 US$,137655.009
388,United States of America,-95.712891,37.090240,North America,USA,Kenya,37.906193,-0.023559,Africa,1000 US$,5223.750
410,United States of America,-95.712891,37.090240,North America,USA,Vietnam,108.277199,14.058324,Asia,1000 US$,44752.330

In [10]:
trademap_reporter_sort.to_csv (r'C:\Users\andia0210\Desktop\Map\trade_map_USEU_46Key_reporter_sort.csv', index = False, header=True)

In [11]:
trademap_partner=trademap.groupby(['Reporter_Region','Partner_Countries', 'Arrlon', 'Arrlat', 'Partner_Continent', 'Unit'])['Export_Value_corrected'].sum().reset_index()

In [12]:
trademap_partner

,Reporter_Region,Partner_Countries,Arrlon,Arrlat,Partner_Continent,Unit,Export_Value_corrected
0,EU,Argentina,-63.616672,-38.416097,South America,1000 US$,45099.920
1,EU,Australia,133.775136,-25.274398,Oceania,1000 US$,302.610
2,EU,Bangladesh,90.356331,23.684994,Asia,1000 US$,125501.568
3,EU,Brazil,-51.925280,-14.235004,South America,1000 US$,149314.445
4,EU,Canada,-106.346771,56.130366,North America,1000 US$,44224.968
...,...,...,...,...,...,...,...
74,USA,Turkey,35.243322,38.963745,Asia,1000 US$,54184.427
75,USA,Uganda,32.290275,1.373333,Africa,1000 US$,132.920
76,USA,United Kingdom,-3.435973,55.378051,Europe,1000 US$,73107.662
77,USA,Uruguay,-55.765835,-32.522779,South America,1000 US$,518.190
78,USA,Vietnam,108.277199,14.058324,Asia,1000 US$,44752.330

In [13]:
trademap_partner_sort=trademap_partner.sort_values(by=['Partner_Countries'])

In [14]:
trademap_partner_sort

,Reporter_Region,Partner_Countries,Arrlon,Arrlat,Partner_Continent,Unit,Export_Value_corrected
0,EU,Argentina,-63.616672,-38.416097,South America,1000 US$,45099.920
36,USA,Argentina,-63.616672,-38.416097,South America,1000 US$,80244.277
1,EU,Australia,133.775136,-25.274398,Oceania,1000 US$,302.610
37,USA,Australia,133.775136,-25.274398,Oceania,1000 US$,286.320
38,USA,Austria,14.550072,47.516231,Europe,1000 US$,9528.481
...,...,...,...,...,...,...,...
33,EU,United States of America,-95.712891,37.090240,North America,1000 US$,10816.775
34,EU,Uruguay,-55.765835,-32.522779,South America,1000 US$,5850.656
77,USA,Uruguay,-55.765835,-32.522779,South America,1000 US$,518.190
35,EU,Vietnam,108.277199,14.058324,Asia,1000 US$,59927.040
78,USA,Vietnam,108.277199,14.058324,Asia,1000 US$,44752.330

In [15]:
trademap_partner_sort.to_csv (r'C:\Users\andia0210\Desktop\Map\trade_map_USEU_46Key_partner_sort.csv', index = False, header=True)

In [16]:
trademap_partner_sort['Ratios'] = 100 * trademap_partner_sort['Export_Value_corrected'] / trademap_partner_sort.groupby(['Partner_Countries', 'Arrlon', 'Arrlat', 'Partner_Continent', 'Unit'])['Export_Value_corrected'].transform('sum')

# Transformation: While aggregation must return a reduced version of the data, transformation can return some transformed version of the full data to recombine. For such a transformation, the output is the same shape as the input.

In [17]:
trademap_partner_sort['Total_Export'] = trademap_partner_sort.groupby(['Partner_Countries', 'Arrlon', 'Arrlat', 'Partner_Continent', 'Unit'])['Export_Value_corrected'].transform('sum')

# Transformation: While aggregation must return a reduced version of the data, transformation can return some transformed version of the full data to recombine. For such a transformation, the output is the same shape as the input.

In [18]:
trademap_partner_sort

,Reporter_Region,Partner_Countries,Arrlon,Arrlat,Partner_Continent,Unit,Export_Value_corrected,Ratios,Total_Export
0,EU,Argentina,-63.616672,-38.416097,South America,1000 US$,45099.920,35.980860,125344.197
36,USA,Argentina,-63.616672,-38.416097,South America,1000 US$,80244.277,64.019140,125344.197
1,EU,Australia,133.775136,-25.274398,Oceania,1000 US$,302.610,51.383017,588.930
37,USA,Australia,133.775136,-25.274398,Oceania,1000 US$,286.320,48.616983,588.930
38,USA,Austria,14.550072,47.516231,Europe,1000 US$,9528.481,100.000000,9528.481
...,...,...,...,...,...,...,...,...,...
33,EU,United States of America,-95.712891,37.090240,North America,1000 US$,10816.775,100.000000,10816.775
34,EU,Uruguay,-55.765835,-32.522779,South America,1000 US$,5850.656,91.863675,6368.846
77,USA,Uruguay,-55.765835,-32.522779,South America,1000 US$,518.190,8.136325,6368.846
35,EU,Vietnam,108.277199,14.058324,Asia,1000 US$,59927.040,57.248186,104679.370
78,USA,Vietnam,108.277199,14.058324,Asia,1000 US$,44752.330,42.751814,104679.370

In [19]:
trademap_partner_sort.to_csv (r'C:\Users\andia0210\Desktop\Map\trade_map_USEU_46Key_partner_add_sort.csv', index = False, header=True)

In [20]:
trademap_partner_piechart_sort=trademap_partner_sort.groupby(['Partner_Countries', 'Arrlon', 'Arrlat', 'Partner_Continent', 'Unit'])['Export_Value_corrected'].sum().reset_index()

In [21]:
trademap_partner_piechart_sort

,Partner_Countries,Arrlon,Arrlat,Partner_Continent,Unit,Export_Value_corrected
0,Argentina,-63.616672,-38.416097,South America,1000 US$,125344.197
1,Australia,133.775136,-25.274398,Oceania,1000 US$,588.930
2,Austria,14.550072,47.516231,Europe,1000 US$,9528.481
3,Bangladesh,90.356331,23.684994,Asia,1000 US$,177920.548
4,Belgium,4.469936,50.503887,Europe,1000 US$,23554.694
5,Brazil,-51.925280,-14.235004,South America,1000 US$,617783.437
6,Canada,-106.346771,56.130366,North America,1000 US$,44224.968
7,Chile,-71.542969,-35.675147,South America,1000 US$,104580.791
8,China_Hong Kong SAR,114.109497,22.396428,Asia,1000 US$,43840.680
9,China_Taiwan Province of,120.960515,23.697810,Asia,1000 US$,185113.170
10,China_mainland,116.383331,39.916668,Asia,1000 US$,753602.874
11,Colombia,-74.297333,4.570868,South America,1000 US$,186673.301
12,Congo,15.827659,-0.228021,Africa,1000 US$,51253.183
13,Denmark,9.501785,56.263920,Europe,1000 US$,2115.069
14,Finland,25.748151,61.924110,Europe,1000 US$,4689.342
15,Germany,10.451526,51.165691,Europe,1000 US$,9833.876
16,Indonesia,113.921327,-0.789275,Asia,1000 US$,542897.824
17,Iran,53.688046,32.427908,Asia,1000 US$,524553.955
18,Iraq,43.679291,33.223191,Asia,1000 US$,175940.057
19,Italy,12.567380,41.871940,Europe,1000 US$,137655.009
20,Ivory Coast,-5.547080,7.539989,Africa,1000 US$,120207.335
21,Kenya,37.906193,-0.023559,Africa,1000 US$,54609.191
22,Lebanon,35.862285,33.854721,Asia,1000 US$,145415.559
23,Malawi,34.301525,-13.254308,Africa,1000 US$,3152.114
24,Mauritius,57.552152,-20.348404,Africa,1000 US$,29240.302
25,Mexico,-102.552784,23.634501,North America,1000 US$,74201.107
26,Morocco,-7.092620,31.791702,Africa,1000 US$,557749.061
27,Mozambique,35.529562,-18.665695,Africa,1000 US$,1518.540
28,Netherlands,5.291266,52.132633,Europe,1000 US$,141998.190
29,Paraguay,-58.443832,-23.442503,South America,1000 US$,3379.888
30,Peru,-75.015152,-9.189967,South America,1000 US$,196729.833
31,Poland,19.145136,51.919438,Europe,1000 US$,6204.120
32,Saudi Arabia,45.079162,23.885942,Asia,1000 US$,655147.540
33,Senegal,-14.452362,14.497401,Africa,1000 US$,47837.515
34,Singapore,103.819836,1.352083,Asia,1000 US$,61635.222
35,South Africa,22.937506,-30.559482,Africa,1000 US$,180191.670
36,South Korea,127.766922,35.907757,Asia,1000 US$,306567.566
37,Suriname,-56.027783,3.919305,South America,1000 US$,32406.629
38,Sweden,18.643501,60.128161,Europe,1000 US$,7334.152
39,Thailand,100.992541,15.870032,Asia,1000 US$,607850.739
40,Turkey,35.243322,38.963745,Asia,1000 US$,455857.733
41,Uganda,32.290275,1.373333,Africa,1000 US$,49273.079
42,United Kingdom,-3.435973,55.378051,Europe,1000 US$,73107.662
43,United States of America,-95.712891,37.090240,North America,1000 US$,10816.775
44,Uruguay,-55.765835,-32.522779,South America,1000 US$,6368.846
45,Vietnam,108.277199,14.058324,Asia,1000 US$,104679.370

In [22]:
trademap_partner_piechart_sort.to_csv (r'C:\Users\andia0210\Desktop\Map\trade_map_USEU_46Key_partner_piechart_totalexport.csv', index = False, header=True)

In [23]:
trademap

,Reporter_Countries,Startlon,Startlat,Reporter_Continent,Reporter_Region,Partner_Countries,Arrlon,Arrlat,Partner_Continent,Unit,Export_Value_corrected
0,Austria,14.550072,47.516231,Europe,EU,Iran,53.688046,32.427908,Asia,1000 US$,40272.049
1,Austria,14.550072,47.516231,Europe,EU,Iraq,43.679291,33.223191,Asia,1000 US$,35566.060
2,Austria,14.550072,47.516231,Europe,EU,Morocco,-7.092620,31.791702,Africa,1000 US$,327.080
3,Austria,14.550072,47.516231,Europe,EU,Saudi Arabia,45.079162,23.885942,Asia,1000 US$,11.910
4,Austria,14.550072,47.516231,Europe,EU,Thailand,100.992541,15.870032,Asia,1000 US$,8.040
...,...,...,...,...,...,...,...,...,...,...,...
408,United States of America,-95.712891,37.090240,North America,USA,Vietnam,108.277199,14.058324,Asia,1000 US$,44752.330
409,Serbia,20.457273,44.787197,Europe,EU,Iran,53.688046,32.427908,Asia,1000 US$,41662.420
410,Serbia,20.457273,44.787197,Europe,EU,Iraq,43.679291,33.223191,Asia,1000 US$,2218.800
411,Serbia,20.457273,44.787197,Europe,EU,Lebanon,35.862285,33.854721,Asia,1000 US$,644.770
412,Serbia,20.457273,44.787197,Europe,EU,United States of America,-95.712891,37.090240,North America,1000 US$,6.670

In [24]:
trademap_export_total=trademap.groupby(['Reporter_Countries', 'Startlon', 'Startlat', 'Reporter_Continent', 'Reporter_Region', 'Unit'])['Export_Value_corrected'].sum().reset_index()

In [25]:
trademap_export_total

,Reporter_Countries,Startlon,Startlat,Reporter_Continent,Reporter_Region,Unit,Export_Value_corrected
0,Austria,14.550072,47.516231,Europe,EU,1000 US$,76241.779
1,Belgium,4.469936,50.503887,Europe,EU,1000 US$,68832.739
2,Bulgaria,25.485830,42.733883,Europe,EU,1000 US$,1227.600
3,Czech Republic,15.472962,49.817492,Europe,EU,1000 US$,3416.660
4,Denmark,9.501785,56.263920,Europe,EU,1000 US$,56301.565
5,Finland,25.748151,61.924110,Europe,EU,1000 US$,829.350
6,France,2.213749,46.227638,Europe,EU,1000 US$,1011992.968
7,Germany,10.451526,51.165691,Europe,EU,1000 US$,585017.003
8,Greece,21.824312,39.074208,Europe,EU,1000 US$,3985.248
9,Hungary,19.503304,47.162494,Europe,EU,1000 US$,45734.930
10,Ireland,-8.243890,53.412910,Europe,EU,1000 US$,3958.820
11,Italy,12.567380,41.871940,Europe,EU,1000 US$,23079.536
12,Luxembourg,6.129583,49.815273,Europe,EU,1000 US$,12.360
13,Netherlands,5.291266,52.132633,Europe,EU,1000 US$,1054229.832
14,Netherlands Antilles,-68.251700,12.190200,Europe,EU,1000 US$,126.900
15,Norway,8.468946,60.472024,Europe,EU,1000 US$,34.320
16,Poland,19.145136,51.919438,Europe,EU,1000 US$,30012.060
17,Portugal,-8.224454,39.399872,Europe,EU,1000 US$,6936.620
18,Romania,24.966760,45.943161,Europe,EU,1000 US$,2175.863
19,Serbia,20.457273,44.787197,Europe,EU,1000 US$,44533.740
20,Spain,-3.749220,40.463667,Europe,EU,1000 US$,305143.330
21,Sweden,18.643501,60.128161,Europe,EU,1000 US$,2760.863
22,Switzerland,8.227512,46.818188,Europe,EU,1000 US$,100.054
23,United Kingdom,-3.435973,55.378051,Europe,EU,1000 US$,1075091.316
24,United States of America,-95.712891,37.090240,North America,USA,1000 US$,3253398.668

In [26]:
trademap_export_total.to_csv (r'C:\Users\andia0210\Desktop\Map\trade_map_USEU_46Key_reporter_totalexport.csv', index = False, header=True)

In [27]:
pwd

'C:\\Users\\andia0210\\Desktop\\Map'

In [28]:
cd ../../Anaconda3/envs/Python/

C:\Users\andia0210\Anaconda3\envs\Python

In [29]:
# conda install basemap
# conda install folium
# conda install the GDAL library
### conda install -c conda-forge gdal

In [30]:
matplotlib

Using matplotlib backend: Qt5Agg

In [31]:
# pip install geonamescache

In [32]:
# Load Libraries
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.cm

from geonamescache import GeonamesCache
# from helpers import slug
from matplotlib.patches import Polygon
from matplotlib.collections import PatchCollection
from matplotlib.colors import Normalize
from mpl_toolkits.basemap import Basemap


# Load the data (on the Windows)
data_reporter = pd.read_csv(
    r'C:\Users\andia0210\Desktop\Map\trade_map_USEU_46Key_reporter_sort.csv', sep=",")

data_partner = pd.read_csv(
    r'C:\Users\andia0210\Desktop\Map\trade_map_USEU_46Key_partner_add_sort.csv', sep=",")

piechart_data = pd.read_csv(
    r'C:\Users\andia0210\Desktop\Map\trade_map_USEU_46Key_partner_piechart_totalexport_20kUP.csv', sep=",")

data_reporter_export = pd.read_csv(
    r'C:\Users\andia0210\Desktop\Map\trade_map_USEU_46Key_reporter_totalexport_addcode.csv', sep=",")

country = pd.read_csv(
    r'C:\Users\andia0210\Desktop\Map\Country_coordinates.csv', sep=",")

shapefile = '/Users/andia0210/Desktop/Map/ne_10m_admin_0_countries/ne_10m_admin_0_countries'


num_colors = 4

filename = r'C:\Users\andia0210\Desktop\Map\trade_map_USEU_46Key_reporter_totalexport_addcode.csv'

cols = ['Country_Code', 'Reporter_Countries', 'Export_Value_corrected']
#title = 'Live Chicken Intercontinental Export, 1962-2019'
#imgfile = 'img/{}.png'.format(slug(title))

# description = '''Live chicken trade map'''.strip()

In [33]:
gc = GeonamesCache()
iso3_codes = list(gc.get_dataset_by_key(gc.get_countries(), 'iso3').keys())

In [34]:
df_1 = pd.read_csv(filename, usecols=cols)

In [35]:
df_1

   Country_Code        Reporter_Countries  Export_Value_corrected
0           AUT                   Austria               76241.779
1           BEL                   Belgium               68832.739
2           BGR                  Bulgaria                1227.600
3           CZE            Czech Republic                3416.660
4           DNK                   Denmark               56301.565
5           FIN                   Finland                 829.350
6           FRA                    France             1011992.968
7           DEU                   Germany              585017.003
8           GRC                    Greece                3985.248
9           HUN                   Hungary               45734.930
10          IRL                   Ireland                3958.820
11          ITA                     Italy               23079.536
12          LUX                Luxembourg                  12.360
13          NLD               Netherlands             1054229.832
14          ANT      Netherlands Antilles                 126.900
15          NOR                    Norway                  34.320
16          POL                    Poland               30012.060
17          PRT                  Portugal                6936.620
18          ROU                   Romania                2175.863
19          SRB                    Serbia               44533.740
20          ESP                     Spain              305143.330
21          SWE                    Sweden                2760.863
22          CHE               Switzerland                 100.054
23          GBR            United Kingdom             1075091.316
24          USA  United States of America             3253398.668

In [36]:
df_1.set_index('Country_Code', inplace=True)

In [37]:
df_1

                    Reporter_Countries  Export_Value_corrected
Country_Code
AUT                            Austria               76241.779
BEL                            Belgium               68832.739
BGR                           Bulgaria                1227.600
CZE                     Czech Republic                3416.660
DNK                            Denmark               56301.565
FIN                            Finland                 829.350
FRA                             France             1011992.968
DEU                            Germany              585017.003
GRC                             Greece                3985.248
HUN                            Hungary               45734.930
IRL                            Ireland                3958.820
ITA                              Italy               23079.536
LUX                         Luxembourg                  12.360
NLD                        Netherlands             1054229.832
ANT               Netherlands Antilles                 126.900
NOR                             Norway                  34.320
POL                             Poland               30012.060
PRT                           Portugal                6936.620
ROU                            Romania                2175.863
SRB                             Serbia               44533.740
ESP                              Spain              305143.330
SWE                             Sweden                2760.863
CHE                        Switzerland                 100.054
GBR                     United Kingdom             1075091.316
USA           United States of America             3253398.668

In [38]:
country

,Country,Country_Code_2,Longitude,Latitude,Continent,Comments
0,Argentina,AR,-63.616672,-38.416097,South America,NaN
1,Australia,AU,133.775136,-25.274398,Oceania,NaN
2,Austria,AT,14.550072,47.516231,Europe,NaN
3,Bangladesh,BD,90.356331,23.684994,Asia,NaN
4,Belgium,BE,4.469936,50.503887,Europe,NaN
...,...,...,...,...,...,...
56,Uganda,UG,32.290275,1.373333,Africa,NaN
57,United Kingdom,GB,-3.435973,55.378051,Europe,NaN
58,United States of America,US,-95.712891,37.090240,North America,NaN
59,Uruguay,UY,-55.765835,-32.522779,South America,NaN
60,Vietnam,VN,108.277199,14.058324,Asia,NaN

In [39]:
num_colors = 4
cm = plt.get_cmap('Reds')
scheme = [cm(i / num_colors) for i in range(num_colors)]
colorscheme = [0,2,3,4]

In [40]:
rc = df_1['Reporter_Countries'] 
values = df_1['Export_Value_corrected']

In [41]:
scheme

[(1.0, 0.9607843137254902, 0.9411764705882353, 1.0),
 (0.9882352941176471, 0.732072279892349, 0.6299269511726259, 1.0),
 (0.9835755478662053, 0.4127950788158401, 0.28835063437139563, 1.0),
 (0.7925720876585928, 0.09328719723183392, 0.11298731257208766, 1.0)]

In [42]:
len(rc)

25

In [43]:
bins = np.power(100, colorscheme)

In [44]:
bins

array([        1,     10000,   1000000, 100000000], dtype=int32)

In [45]:
df_1['Bin'] = np.digitize(values, bins) - 1
df_1.sort_values('Bin', ascending=False)
# df_1.sort_values('bin', ascending=False).head(10)

                    Reporter_Countries  Export_Value_corrected  Bin
Country_Code
USA           United States of America             3253398.668    2
GBR                     United Kingdom             1075091.316    2
FRA                             France             1011992.968    2
NLD                        Netherlands             1054229.832    2
ITA                              Italy               23079.536    1
ESP                              Spain              305143.330    1
SRB                             Serbia               44533.740    1
POL                             Poland               30012.060    1
BEL                            Belgium               68832.739    1
AUT                            Austria               76241.779    1
HUN                            Hungary               45734.930    1
DEU                            Germany              585017.003    1
DNK                            Denmark               56301.565    1
IRL                            Ireland                3958.820    0
GRC                             Greece                3985.248    0
ANT               Netherlands Antilles                 126.900    0
NOR                             Norway                  34.320    0
FIN                            Finland                 829.350    0
PRT                           Portugal                6936.620    0
ROU                            Romania                2175.863    0
CZE                     Czech Republic                3416.660    0
SWE                             Sweden                2760.863    0
CHE                        Switzerland                 100.054    0
BGR                           Bulgaria                1227.600    0
LUX                         Luxembourg                  12.360    0

In [46]:
# Create the figure and set the dimension
my_dpi=150
fig, ax = plt.subplots(figsize=(1200/my_dpi, 900/my_dpi), dpi=my_dpi) 
#fig.suptitle('Live Chicken Intercontinental Export, 1962-2019', fontsize=20, weight='bold', family='times new roman', y=.95)

#fig = plt.figure(figsize=(22, 12))
#ax = fig.add_subplot(111, axisbg='w', frame_on=False)
#plt.title('Global Trade Map', size=20, weight='bold', family='times new roman') 


# Make the background World map
##map = Basemap(llcrnrlon=-0.5,llcrnrlat=39.8,urcrnrlon=4.,urcrnrlat=43., resolution='i', projection='tmerc', lat_0 = 39.5, lon_0 = 1)
##map = Basemap(resolution='c', llcrnrlon=-160, llcrnrlat=-80, urcrnrlon=160, urcrnrlat=80)
##map = Basemap(projection='robin', lon_0=0, resolution='c')
##map = Basemap(lon_0=0, projection='robin', resolution='c', llcrnrlon=-160, llcrnrlat=-80, urcrnrlon=160, urcrnrlat=80) 
map = Basemap(resolution='c', llcrnrlon=-170, llcrnrlat=-90, urcrnrlon=190, urcrnrlat=90)

##map.drawmapboundary(fill_color='#f2f2f2', linewidth=0)
map.drawmapboundary(color='w')

##map.fillcontinents(color='white',lake_color='#A6CAE0', alpha=0.3)
map.fillcontinents(color='grey',lake_color='#A6CAE0', alpha=0.3)
#map.fillcontinents(color='#DCDCDC',lake_color='#A6CAE0', alpha=0.3)


##map.drawcoastlines(linewidth=0.1, color='black')
map.drawcoastlines(linewidth=0.1, color='white')

##map.drawcountries(linewidth=0.1, color='grey')
map.drawcountries(linewidth=0.3, color='white')

#color code: USA->light blue: #87CEEB    EU->light green: #90EE90
#color code: USA->blue: #0097C6 or #002A93   EU->green: #00EA00

C:\Users\andia0210\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: MatplotlibDeprecationWarning:
The dedent function was deprecated in Matplotlib 3.1 and will be removed in 3.3. Use inspect.cleandoc instead.
  app.launch_new_instance()
C:\Users\andia0210\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: MatplotlibDeprecationWarning:
The dedent function was deprecated in Matplotlib 3.1 and will be removed in 3.3. Use inspect.cleandoc instead.

In [47]:
# Cover up Antarctica so legend can be placed over it.
plt.axhspan(-60, -90, facecolor='w', edgecolor='w',zorder=1)

In [48]:
# Custom adjust of the subplots
# Adjust the scaling factor to fit your legend text completely outside the plot
# (smaller value results in more space being made for the legend)
plt.subplots_adjust(left=0.10,right=0.90,top=0.90,bottom=0.15,wspace=0.15,hspace=0.05)

In [49]:

##map.readshapefile(shapefile, 'units', color='#444444', linewidth=.2)
map.readshapefile(shapefile, 'units', color='white', linewidth=.2, zorder=2)

for info, shape in zip(map.units_info, map.units):
    iso3 = info['ADM0_A3']
    if iso3 not in df_1.index:
        #color = '#dddddd'
        color = '#1C00ff00'
    else:
        color = scheme[df_1.loc[iso3]['Bin']]

    patches = [Polygon(np.array(shape), True)]
    pc = PatchCollection(patches)
    pc.set_facecolor(color)
    ax.add_collection(pc)

C:\Users\andia0210\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: MatplotlibDeprecationWarning:
The dedent function was deprecated in Matplotlib 3.1 and will be removed in 3.3. Use inspect.cleandoc instead.

In [50]:
#########################################################################
# Add a marker per Reporter_country of the data frame                   #
# https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.plot.html  #
#########################################################################

plt.plot(data_reporter['Startlon'], data_reporter['Startlat'], linestyle='none', marker="^", markersize=2, 
         alpha=0.6, c="purple", markeredgecolor="purple", markeredgewidth=0.4, zorder=3)

In [51]:
# Add an arrow from Reporter_country to Partner_country one by one on the map
for i in range(0, len(data_reporter)):
    x1=data_reporter.iloc[i]['Startlon']
    y1=data_reporter.iloc[i]['Startlat']
    x2=data_reporter.iloc[i]['Arrlon']
    y2=data_reporter.iloc[i]['Arrlat']
    dx=data_reporter.iloc[i]['Arrlon']-data_reporter.iloc[i]['Startlon']
    dy=data_reporter.iloc[i]['Arrlat']-data_reporter.iloc[i]['Startlat']
    
    #reporter_loc=[x1, y1],
    #partner_loc=[x2, y2],
    
    if x1==-95.712891 and y1==37.09024:
        #plt.arrow(x1, y1, dx, dy, length_includes_head=True, linewidth=0.6, head_width=1, head_length=1.5, color='#87CEEB', alpha=0.3)
        #plt.arrow(x1, y1, dx, dy, length_includes_head=True, linewidth=0.6, head_width=1, head_length=1.5, color='#002A93', alpha=0.16, zorder=4)
        plt.arrow(x1, y1, dx, dy, length_includes_head=True, linewidth=0.8, head_width=1, head_length=1.5, color='navy', alpha=0.15, zorder=4)
    else:
        #plt.arrow(x1, y1, dx, dy, length_includes_head=True, linewidth=0.6, head_width=1, head_length=1.5, color='#90EE90', alpha=0.3)
        plt.arrow(x1, y1, dx, dy, length_includes_head=True, linewidth=0.6, head_width=1, head_length=1.5, color='#00EA00', alpha=0.16, zorder=4)
        
#color code: USA->light blue: #87CEEB    EU->light green: #90EE90
#color code: USA->blue: #0097C6 or #002A93   EU->green: #00EA00

In [52]:

# Draw color legend.
ax_legend = fig.add_axes([0.3, 0.2, 0.4, 0.03], zorder=3)
cmap = mpl.colors.ListedColormap(scheme)
cb = mpl.colorbar.ColorbarBase(ax_legend, cmap=cmap, ticks=colorscheme, boundaries=colorscheme, orientation='horizontal')
cb.ax.set_xticklabels([str(round(i, 1)) for i in bins])

# Set the map footer.
#plt.annotate(description, xy=(0.3, 0.2), size=14, xycoords='axes fraction')

[Text(0, 0, '1'),
 Text(0, 0, '10000'),
 Text(0, 0, '1000000'),
 Text(0, 0, '100000000')]

In [53]:
# Prepare a color for each part of the pie chart depending on the Reporter_Region (EU, USA).

N=len(piechart_data['Export_Value_corrected'])
global_data = np.zeros((N,2))   # N = the number of pie charts on the map; 3 means the number of colors within each pie chart
global_data[:,0] = 1
global_data[:,1] = 2

#colors = ['#00EA00', '#002A93']
colors = ['#00EA00', 'navy']
font_size = 8

# Define pie chart locations
xlon = piechart_data['Arrlon']
ylat = piechart_data['Arrlat']

# Define sizes of the scatter marker (pie chart)
sizes = piechart_data['Export_Value_corrected']

gr = np.zeros((N,1))
global_ratio = {'Partner_Countries': piechart_data['Partner_Countries'],
                'EU': gr[:,0],
                'USA': gr[:,0],
               }

df = pd.DataFrame(global_ratio, columns = ['Partner_Countries', 'EU', 'USA'])


#color code: USA->light blue: #87CEEB    EU->light green: #90EE90
#color code: USA->blue: #0097C6 or #002A93   EU->green: #00EA00

In [54]:
df

           Partner_Countries   EU  USA
0             China_mainland  0.0  0.0
1               Saudi Arabia  0.0  0.0
2                     Brazil  0.0  0.0
3                   Thailand  0.0  0.0
4                    Morocco  0.0  0.0
5                  Indonesia  0.0  0.0
6                       Iran  0.0  0.0
7                     Turkey  0.0  0.0
8                South Korea  0.0  0.0
9                       Peru  0.0  0.0
10                  Colombia  0.0  0.0
11  China_Taiwan Province of  0.0  0.0
12              South Africa  0.0  0.0
13                Bangladesh  0.0  0.0
14                      Iraq  0.0  0.0
15                   Lebanon  0.0  0.0
16               Netherlands  0.0  0.0
17                     Italy  0.0  0.0
18                 Argentina  0.0  0.0
19               Ivory Coast  0.0  0.0
20                   Vietnam  0.0  0.0
21                     Chile  0.0  0.0
22                    Mexico  0.0  0.0
23            United Kingdom  0.0  0.0
24                 Singapore  0.0  0.0
25                     Kenya  0.0  0.0
26                     Congo  0.0  0.0
27                    Uganda  0.0  0.0
28                   Senegal  0.0  0.0
29                    Canada  0.0  0.0
30       China_Hong Kong SAR  0.0  0.0
31                  Suriname  0.0  0.0
32                 Mauritius  0.0  0.0
33                   Belgium  0.0  0.0

In [55]:
N

34

In [56]:

# Function to draw pie charts on the map
def getIndexes(dfObj, value):
    ''' Get index positions of value in dataframe i.e. dfObj.'''
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = dfObj.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    # Iterate over list of columns and fetch the rows indexes where value exists
    for col in columnNames:
        rows = list(result[col][result[col] == True].index)
        for row in rows:
            listOfPos.append((row, col))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

def draw_pie(ax, X=0, Y=0, size = 1000):
    
    #for b in range(N): 
    pc = df['Partner_Countries'].iloc[b]
    data_subset = data_partner[data_partner['Partner_Countries'] == pc]
    phase = data_subset['Reporter_Region']
    for p in phase:
        if p == 'EU':
            position = getIndexes(data_subset, p)[0][0]
            r = data_partner['Ratios'].iloc[position]
            df['EU'].iloc[b] = r/100
                
        elif p == 'USA':
            position = getIndexes(data_subset, p)[0][0]
            r = data_partner['Ratios'].iloc[position]
            df['USA'].iloc[b] = r/100

        else:
            df['EU'].iloc[b] = 0.0
            df['USA'].iloc[b] = 0.0
                
    xy = []
    s = []
    start = 0.0 
    ratios = [df['EU'].iloc[b], df['USA'].iloc[b]]
    for ratio in ratios:
        x = [0] + np.cos(np.linspace(2*np.pi*start,2*np.pi*(start+ratio), 60)).tolist() 
        y = [0] + np.sin(np.linspace(2*np.pi*start,2*np.pi*(start+ratio), 60)).tolist() 
        
        xy1 = np.column_stack([x, y])
        s1 = np.abs(xy1).max()          
        
        xy.append(xy1)
        s.append(s1)
        start += ratio 

    piecolors = []
    for j in range(0, 2):
        c = global_data[b,j]-1
        c = int(c)
        piecolors.append(colors[c])
        
    for xyi, si, i in zip(xy, s, range(2)):
        #ax.scatter([X],[Y] , marker=(xyi,0), s=size*si**2, facecolor=piecolors[i], edgecolor='k', linewidth=0.5, alpha=.7)
        ax.scatter([X],[Y] , marker=(xyi,0), s=size*si**2, facecolor=piecolors[i], edgecolor='k', linewidth=0.5, alpha=0.4, zorder=5)

# Plot pie charts:
for b in range(N):
    X,Y=map(xlon[b],ylat[b]) 
    Size = sizes[b]
    draw_pie(ax, X, Y, size = Size/2400)

C:\Users\andia0210\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\andia0210\Anaconda3\lib\site-packages\ipykernel_launcher.py:62: MatplotlibDeprecationWarning: Passing vertices as `(verts, 0)` is deprecated since Matplotlib 3.0, and support for it will be removed in 3.2.  Directly pass `verts` instead.

In [57]:
plt.show()

In [58]:
# Create the legend

from matplotlib.patches import Patch
from matplotlib.lines import Line2D


legend_elements1 = [Patch(facecolor='#00EA00', edgecolor='black', label='Europe export'),
                   Patch(facecolor='navy', edgecolor='black', label='USA export')]

legend_elements2 = [Line2D([0], [1], ls='-', marker='>', lw=1, color='#00EA00', label='Europe Export'),
                   Line2D([0], [1], ls='-', marker='>', lw=1, color='navy', label='USA Export')]


legend1 = ax.legend(handles=legend_elements1, 
                    loc='lower left',
                    prop={'size': 6},
                    borderaxespad=2,    # Small spacing around legend box 
                    title="Exporter"  # Title for the legend
                   )    

ax.add_artist(legend1)

legend2 = ax.legend(handles=legend_elements2, 
                    loc='lower right', 
                    prop={'size': 6},
                    borderaxespad=2,    # Small spacing around legend box 
                    title="Trade"  # Title for the legend
                   )    

#color code: USA->light blue: #87CEEB    EU->light green: #90EE90
#color code: USA->blue: #0097C6 or #002A93   EU->green: #00EA00

In [59]:
# Save figure as png at 'C:\Users\andia0210\Anaconda3\envs\Python\PNG'
plt.savefig('PNG/Basemap_trademap_piechart_withoutlabel_06-02_navy_greymap.png', dpi=600, bbox_inches='tight')

In [60]:
# Save figure as PDF at 'C:\Users\andia0210\Anaconda3\envs\Python\PNG'
plt.savefig('PNG/Basemap_trademap_piechart_withoutlabel_06-02_navy_greymap.pdf', dpi=600, bbox_inches='tight')

In [ ]:
#########################################################################
# Add country label one by one on the map                               #
# https://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.text     #
#########################################################################

reporter_countries = []
partner_countries = []
countrylist = []

#reporter_countries = data_reporter['Reporter_Countries']
#partner_countries = data_partner['Partner_Countries']

#reporter_countries = ['United States of America','United Kingdom','Netherlands','France','Germany','Spain']
reporter_countries = ['United States of America','United Kingdom','Netherlands','France','Germany','Spain','Austria','Belgium','Denmark','Hungary']



countrylist.extend(reporter_countries)
#countrylist.extend(partner_countries)
countrylist = list(dict.fromkeys(countrylist))

for i in range(0, len(country)):
    for cl in countrylist:
        if cl == country['Country'].iloc[i]:
            x=country.iloc[i]['Longitude']
            y=country.iloc[i]['Latitude'] 
            name=country.iloc[i]['Country']
            plt.text(x, y, name, fontsize=4, horizontalalignment='right', verticalalignment='top')